/* text.css */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
}

.menu li a {
    text-decoration: none;
    padding: 20px 40px;
    color: black;
    background-color: yellow;
    font-size: 20px;
    border-radius: 10px;
}
.menu li a:active {
    background-color: white;
    color: black;
}

h1 {
    text-align: center;
  }



