# Fichiers et dossiers Python
__pycache__/
*.py[cod]
*.pyo

# Dossiers de l'environnement virtuel
venv/
env/

# Fichiers de configuration IDE spécifiques
.idea/
.vscode/

# Autres fichiers et dossiers à ignorer
*.sh
.DS_Store
*.log

