# Fichiers et dossiers Python
__pycache__/
*.py[cod]
*.pyo


# Dossiers de l'environnement virtuel
venv/
env/
.venv/
.env

# Fichiers de configuration IDE spécifiques
.idea/
.vscode/
./VISION/LABEL/waste_labeling/lib/ros_lib


# Autres fichiers et dossiers à ignorer

# gourceviseo.sh
.DS_Store
*.log


# cmake file 
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

catkin_generated/
