[submodule "catkin_ws/src/flexbe_behavior_engine"]
	path = catkin_ws/src/flexbe_behavior_engine
	url = git@github.com:FlexBE/flexbe_behavior_engine.git
[submodule "catkin_ws/src/flexbe_app"]
	path = catkin_ws/src/flexbe_app
	url = git@github.com:FlexBE/flexbe_app.git
[submodule "Integration/Wall-E_Behaviors"]
	path = Integration/Wall-E_Behaviors
	url = git@github.com:BlueWan14/Wall-E_Behaviors.git
[submodule "Integration/flexbe_app"]
	path = Integration/flexbe_app
	url = git@github.com:FlexBE/flexbe_app.git
[submodule "Integration/flexbe_behavior_engine"]
	path = Integration/flexbe_behavior_engine
	url = git@github.com:FlexBE/flexbe_behavior_engine.git
[submodule "catkin_ws/src/YDLidar-SDK"]
	path = catkin_ws/src/YDLidar-SDK
	url = git@github.com:YDLIDAR/YDLidar-SDK.git
[submodule "catkin_ws/src/ydlidar_ros_driver"]
	path = catkin_ws/src/ydlidar_ros_driver
	url = git@github.com:YDLIDAR/ydlidar_ros_driver.git
