<launch>
  <!-- Node for waste detection -->
  <node pkg="detect_waste" type="node" name="waste_detection_node" output="screen"/>

  <!-- Node for GPS coordinates -->
  <node pkg="coord_gps" type="gps_node" name="gps_node" output="screen"/>

  <!-- Node for serial communication with rosserial -->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="9600"/>
  </node>
</launch>

