<launch>
  <arg name="nb_it" default="4" />

  <include file="$(find gps_transform)/launch/gps_transform_simu.launch">
    <arg name="select_fct" value="zone_creation" />
  </include>

  <node pkg="path_finding" type="test_define_area" name="test_define_area" output="screen" args="$(arg nb_it)" />
</launch>
