<?xml version="1.0"?>
<launch>
	<!--
	<include file="$(find jackal_gazebo)/launch/jackal_world.launch" args="config:=front_laser" />
	-->
	<include file="$(find gps_transform)/launch/gps_transform_simu.launch" args="go_to" />
	<node pkg="scan_detect_obstacle" type="scan_detect_obstacle_node" name="" args="/front/scan" />
	<node pkg="path_finding" type="test_go_to_node" name="" args="" output="screen" />
</launch>
