<?xml version="1.0"?>
<launch>
    <!-- Start the gps acquisition and transformation -->
    <arg name="rtk_adress" default="192.168.131.81" />
    <node name="gps_rtk_node" pkg="gps_rtk" type="node" args="$(arg rtk_adress)" />
    <node pkg="gps_transform" type="gps_transform_node.py" args="/pif/gps /pif/gps_converted" name="" />
    <node pkg="gps_transform" type="gps_reset_origin_node.py" args="/pif/gps" name=""/>
    <!-- Start the arduino magneto communication -->
    <arg name="arduino_port_magneto" default="ACM0" />
    <arg name="arduino_baudrate_magneto" default="115200" />
    <node name="arduino_comm" pkg="rosserial_python" type="serial_node.py" args="/dev/tty$(arg arduino_port_magneto) _baud:=$(arg arduino_baudrate_magneto)" />


    <!-- Start the lidar -->
    <include file="$(find ydlidar_ros)/launch/X4.launch" />
    <node name="" pkg="scan_detect_obstacle" type="scan_detect_obstacle_node" args="/scan"/>

    <!-- Start goto test -->
    <node pkg="path_finding" type="test_go_to_node" name="" args="5.0 5.0" output="screen" />
</launch>

