<!DOCTYPE html>
<html>
<head>
    <title>Contrôle_véhicule - Projet PIF (robot trieur de déchets)</title>
   	
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="/static/style/configuration.css">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-draw/dist/leaflet.draw.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style/commun.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw/dist/leaflet.draw.css"/>
    
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
<h1 style="font-size: 45px;"><em>Bienvenue sur la page de Configuration de WALL-E</em></h1>
    <ul class="menu"> 
        <li><a href="/">Accueil</a></li>
        <li><a href="controle">Contrôle du véhicule</a></li>
        <li><a href="configuration">Configuration</a></li>
    </ul>
</header>
<body>
	<div class="container">
        <div class="map">
            <div id="map" style="height: 600px; margin-top: 40px;"></div>  
    
        <div>

        </div class="bouton-sauvegarde">
	        <input type="button" id="sendData" value="Sauvegarder la zone de recherche" style="font-size: 30px; padding: 10px 20px;"> 
        </div>

        </div class="config">
        <table id="config-table">
            <tr>
                <th>Paramètres</th>
                <th>Valeurs</th>
            </tr>
            <tr>
                <td>Niveau de batterie du véhicule</td>
                <td id="battery-level">? %</td>
            </tr>
            <tr>
                <td>Distance parcourue</td>
                <td id="distance-traveled">? km</td>
            </tr>
            <tr>
                <td>Statue du système d'aspiration</td>
                <td id="etatAspirateur"></td>
            </tr>
            
            <tr>
        </table>
        </div>
    </div>
       
</body>
</html>
<script type="text/javascript" src="/static/src/configuration.js"></script>
