<!DOCTYPE html>
<html>
<head>
    <title>Contrôle_véhicule - Projet PIF (robot trieur de déchets)</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="/static/style/index.css">
    <link rel="stylesheet" type="text/css" href="/static/style/controle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style/commun.css">
</head>

<body>
    <header>   
        <h1 style="font-size: 45px;"><em>Bienvenue sur la page de contrôle du véhicule</em></h1>
        <ul class="menu"> 
            <li><a href="/">Accueil</a></li>
            <li><a href="controle">Contrôle du véhicule</a></li>
            <li><a href="configuration">Configuration</a></li>
        </ul>
    </header> 
    <div class="containerup">
        <div id="video" style="height: 100%; background-color: none;">
            <img id="live-image" src="/static/images/NDF.png" alt="Image en direct" >
        </div>
        <div id="map" style="height: 100%; "></div>
    </div>
    
    <div class="containerdown"> 
        <div id="table_dir" class="controle-panel" >
            <h2>Contrôle directionnel </h2>
            <table class="dir" style="margin-left: 5%; width:40%;">
                <tr>
                    <td></td> 
                    <th><img src="/static/images/Fond_blanc.png" width="150" height="150"/></th>
                    <th><img name="F" onclick="command(this)" src="/static/images/forward.png" /></th>
                    <th><img src="/static/images/Fond_blanc.png" width="150" height="150"/></th>
                </tr>
                <tr>
                    <td></td>
                    <th><img name="L" onclick="command(this)" src="/static/images/rotation_gauche.jpeg" /></th>
                    <th><img name="STOP" onclick="command(this)" src="/static/images/stop.png" width="150" height="150" /></th>
                    <th><img name="R" onclick="command(this)" src="/static/images/rotation_droite.jpeg" /></th>
                </tr>
                <tr>
                    <td></td> 
                    <th><img src="/static/images/Fond_blanc.png" width="150" height="150"/></th>
                    <th><img name="B" onclick="command(this)" src="/static/images/back.png" /></th>
                    <th><img src="/static/images/Fond_blanc.png" width="150" height="150"/></th>
                </tr>
            </table>
            
        </div>
        <div class="control_container">
            <div class="slider_container">
                <div class="slider"></div>
                <h3 id="speedValue">Vitesse: 5</h3>
                <input type="range" id="speedRange" orient="vertical" min="1" max="10" value="5">
            </div>
            <div class="auto_manu_container">
                <input type="checkbox" id="mode-switch" onclick="commandStatus(this)" >
                <label for="mode-switch">Contrôle manuel</label>
            </div>
            <div class="continue_container">
                <input type="checkbox" id="mode-switch" onclick="continueStatus(this)">
                <label for="continue-switch">Déplacement en coninu</label>
            </div>
        </div>
        

        <div class="topic-value" style="width: 40%;">
            <h2>Topic value</h2>
            <div id="dataTable">
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/src/controle.js"></script>
</body>
</html>


