<!DOCTYPE html>
<html>
<head>
    <title>GPS - Projet PIF (robot trieur de déchets)</title>
    <link rel="stylesheet" type="text/css" href="/static/text.css">
   
    <style>
        body {
            background-image: url('/static/image_GPS.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<header>
    <ul class="menu"> 
        <li><a href="/">Accueil</a></li>
        <li><a href="vision">Vision</a></li>
        <li><a href="gps">GPS</a></li>
        <li><a href="aspiration">Aspiration</a></li>
        <li><a href="controle">Contrôle du véhicule</a></li>
        <li><a href="configuration">Configuration</a></li>
    </ul>
</header>
<body>
    <h1><em>Bienvenue sur la page GPS</em></h1>
    <style>
    h1 em {
    color: white
    }
    </style>
</body>
</html>
