<!DOCTYPE html>
<html>
<head>
    <title>Serveur Web projet PIF (robot trieur de déchets)</title>
    <style>
    h1 em {
    color: white; /* Modifie la couleur du texte du titre en blanc */
	}
    </style>
    <link rel="stylesheet" type="text/css" href="/static/text.css">
</head>
<body>
    <h1 style="font-size: 30px;"><em>Bienvenue sur la page Web du robot PIF</em></h1>
    <ul class="menu"> 
        <li><a href="vision">Vision</a></li>
        <li><a href="gps">GPS</a></li>
        <li><a href="aspiration">Aspiration</a></li>
        <li><a href="controle">Contrôle du véhicule</a></li>
    </ul>

    <p style="font-size: 25px;"><b>But du projet PIF</b>: Reconnaître, récupérer et trier les déchets de façon autonome, dans des bacs respectifs</p>
    <style>
    p {
    color: white; /* Modifie la couleur du texte du titre en blanc */
	}
    </style>
</body>
</html>

