body {
    background-color: lightblue;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
}

h1{
    font-size: 45px;
    margin: 20px 0;
}

h1 em {
    color: black;
}

.menu {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    color: white;
}

button {
    font-size: 24px;
    padding: 15px 30px;
}

/* Media Queries for adjusting styles for different screen sizes */
@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    .menu {
        flex-direction: column;
    }

    .menu li {
        display: block;
        margin: 10px 0;
    }
}