/* index.css */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block; /* Change from inline to inline-block */
}

.menu li a {
    text-decoration: none;
    padding: 15px 30px; /* Adjusted padding */
    color: black;
    background-color: yellow;
    font-size: 18px; /* Adjusted font size */
    border-radius: 10px;
}

.menu li a:active {
    background-color: white;
    color: black;
}

h1 {
    text-align: center;
}

.logo-container {
    float: left; /* Aligner le conteneur du logo à gauche */
}

.logo-container img {
    height: 60px; /* Ajuster la hauteur du logo selon vos besoins */
    width: auto; /* Garantir que la largeur s'ajuste proportionnellement à la hauteur */
}

/* Media Query for adjusting styles for smaller screens */
@media (max-width: 900px) {
    .menu li a {
        padding: 10px 10px; /* Adjusted padding for smaller screens */
        font-size: 15px; /* Adjusted font size for smaller screens */
    }
}
